In [1]:
import json
import pandas as pd
import urllib.request
from datetime import datetime, timezone
import pytz

In [56]:
url_station = "https://gbfs.capitalbikeshare.com/gbfs/es/station_information.json"

In [57]:
response_station = urllib.request.urlopen(url_station)
data_station = json.loads(response_station.read())
dic_station = {}
i=0
for el in data_station["data"]["stations"]:
    dic_station[i]=el
    i+=1
#creates dictionary from JSON station_information

In [58]:
df_station = pd.DataFrame.from_dict(dic_station, orient = 'index')
#transforms dictionary to df

In [59]:
#converts to actual date time the last_updated field in the original JSON
timestamp_station = data_station["last_updated"]
time_zone = pytz.timezone("America/Atikokan")
last_updated_station = datetime.fromtimestamp(timestamp_station).astimezone(time_zone).strftime('%Y-%m-%d %H:%M:%S')

In [60]:
station = pd.concat([df_station["station_id"],
                     df_station["name"],
                     df_station["rental_methods"],
                     df_station["lat"],
                     df_station["lon"], 
                     df_station["capacity"], 
                     df_station["region_id"],
                     df_station["station_type"]], axis=1)
#keeps relevant information

In [61]:
url_status = "https://gbfs.capitalbikeshare.com/gbfs/es/station_status.json"

In [62]:
response_status = urllib.request.urlopen(url_status)
data_status = json.loads(response_status.read())
dic_status = {}
i=0
for el in data_status["data"]["stations"]:
    dic_status[i]=el
    i+=1
#creates dictionary from JSON station_status

In [63]:
df_status = pd.DataFrame.from_dict(dic_status, orient = 'index')  #transforms dictionary to df 
df_status

,num_bikes_disabled,is_renting,station_status,is_returning,num_docks_available,last_reported,station_id,eightd_has_available_keys,num_bikes_available,num_docks_disabled,is_installed,num_ebikes_available
0,2,1,active,1,7,1593439169,1,False,6,0,1,0
1,0,1,active,1,6,1593418367,2,False,5,0,1,0
2,1,1,active,1,3,1593443047,3,False,13,0,1,0
3,0,1,active,1,7,1593427958,4,False,4,0,1,0
4,0,1,active,1,1,1593435589,5,False,10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
583,1,1,active,1,3,1593443839,623,False,15,0,1,0
584,0,1,active,1,1,1593441670,624,False,18,0,1,0
585,0,1,active,1,7,1593444080,625,False,4,0,1,0
586,0,1,active,1,11,1593434936,626,False,6,0,1,0
587,0,1,active,1,8,1593421125,628,False,4,0,1,0

In [66]:
#converts to actual date time the last_updated field in the original JSON
timestamp_status = data_status["last_updated"]
last_updated_status = datetime.fromtimestamp(timestamp_status).astimezone(time_zone).strftime('%Y-%m-%d %H:%M:%S')
timestamp_status

1593446050

In [67]:
#adds column last_reported_date with human readable date
for el in df_status["last_reported"]:
    df_status["last_reported_date"] = datetime.fromtimestamp(timestamp_status).astimezone(time_zone).strftime("%Y-%m-%d %H:%M:%S")

,num_bikes_disabled,is_renting,station_status,is_returning,num_docks_available,last_reported,station_id,eightd_has_available_keys,num_bikes_available,num_docks_disabled,is_installed,num_ebikes_available,last_reported_date
0,2,1,active,1,7,1593439169,1,False,6,0,1,0,2020-06-29 10:54:10
1,0,1,active,1,6,1593418367,2,False,5,0,1,0,2020-06-29 10:54:10
2,1,1,active,1,3,1593443047,3,False,13,0,1,0,2020-06-29 10:54:10
3,0,1,active,1,7,1593427958,4,False,4,0,1,0,2020-06-29 10:54:10
4,0,1,active,1,1,1593435589,5,False,10,0,1,0,2020-06-29 10:54:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,1,1,active,1,3,1593443839,623,False,15,0,1,0,2020-06-29 10:54:10
584,0,1,active,1,1,1593441670,624,False,18,0,1,0,2020-06-29 10:54:10
585,0,1,active,1,7,1593444080,625,False,4,0,1,0,2020-06-29 10:54:10
586,0,1,active,1,11,1593434936,626,False,6,0,1,0,2020-06-29 10:54:10
587,0,1,active,1,8,1593421125,628,False,4,0,1,0,2020-06-29 10:54:10

In [68]:
status = pd.concat([df_status["station_id"],
                    df_status["num_bikes_available"],
                    df_status["num_docks_available"], 
                    df_status["num_ebikes_available"], 
                    df_status["num_bikes_disabled"],
                    df_status["num_docks_disabled"], 
                    df_status["last_reported_date"],
                    df_status["is_renting"], 
                    df_status["is_returning"]], axis=1)
#keeps relevant info only

In [69]:
last_updated_station

'2020-06-29 10:54:00'

In [70]:
last_updated_status

'2020-06-29 10:54:10'

In [71]:
#inner joins the two datasets in one on station_id column
station_status = status.join(station.set_index(['station_id'], 
                                               verify_integrity=True ), 
                             on=[ 'station_id' ], 
                             how='right' )

In [72]:
station_status = station_status.rename(columns={'name': 'Station_Name'})

In [73]:
df_distances = pd.read_csv("Mus_Stat_closest.csv")

In [74]:
df_distances['MUSEUM'].value_counts()  #number of stations fount for each museum

Armenian Genocide Museum and Memorial          6
Interior Museum                                5
Ford's Theatre                                 5
Clara Barton Missing Soldiers Office Museum    4
Luther W. Brady Art Gallery                    4
                                              ..
National Gallery of Art - West Building        1
Corcoran Gallery of Art                        1
National Zoo                                   1
National Museum of Natural History             1
Spagnuolo Art Gallery                          1
Name: MUSEUM, Length: 69, dtype: int64

In [75]:
#joins the file with museums and their closest stations with informations about stations and their status 
actual_status = df_distances.merge(station_status, on=('Station_Name'), how='inner')

In [76]:
#normalizing values: bikes and docks available keeps into account the disabled ones, and then removes irrelevant cols
actual_status["num_bikes_available"] = actual_status["num_bikes_available"] - actual_status["num_bikes_disabled"]
actual_status["num_docks_available"] = actual_status["num_docks_available"] - actual_status["num_docks_disabled"]
actual_status = actual_status.drop(['num_bikes_disabled', 'num_docks_disabled'], axis=1)
actual_status

,MUSEUM,MATCHADDRESS,LATITUDE,LONGITUDE,ID,status,stat_point,Station_Name,approx_distance_miles,station_id,...,num_ebikes_available,last_reported_date,is_renting,is_returning,rental_methods,lat,lon,capacity,region_id,station_type
0,African American Civil War Memorial Museum,1925 VERMONT AVENUE NW,38.916436,-77.025364,310615,active,POINT(-77.0222 38.9155),7th & T St NW,0.182007,47,...,0,2020-06-29 10:54:10,1,1,"[KEY, CREDITCARD]",38.915500,-77.022200,15,42,classic
1,African American Civil War Memorial Museum,1925 VERMONT AVENUE NW,38.916436,-77.025364,310615,active,POINT(-77.028139 38.916787),12th & U St NW,0.151180,242,...,0,2020-06-29 10:54:10,1,1,"[KEY, CREDITCARD]",38.916787,-77.028139,31,42,classic
2,African American Civil War Memorial Museum,1925 VERMONT AVENUE NW,38.916436,-77.025364,310615,active,POINT(-77.0259 38.9172),10th & U St NW,0.060152,43,...,0,2020-06-29 10:54:10,1,1,"[KEY, CREDITCARD]",38.917200,-77.025900,15,42,classic
3,America's Islamic Heritage Museum,2315 MARTIN LUTHER KING JR AVENUE SE,38.863240,-76.991883,147815,active,POINT(-76.990037 38.863897),Pleasant St & MLK Ave SE,0.109209,240,...,0,2020-06-29 10:54:10,1,1,"[KEY, CREDITCARD]",38.863897,-76.990037,11,42,classic
4,America's Islamic Heritage Museum,2315 MARTIN LUTHER KING JR AVENUE SE,38.863240,-76.991883,147815,active,POINT(-76.994637 38.862669),Anacostia Metro,0.153368,39,...,0,2020-06-29 10:54:10,1,1,"[KEY, CREDITCARD]",38.862669,-76.994637,11,42,classic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,The History of Cannabis,3626 GEORGIA AVENUE NW,38.934824,-77.024330,232148,active,POINT(-77.0241808891296 38.9366839345886),Georgia & New Hampshire Ave NW,0.128786,28,...,0,2020-06-29 10:54:10,1,1,"[KEY, CREDITCARD]",38.936684,-77.024181,19,42,classic
147,The National Bonsai and Penjing Museum,3501 NEW YORK AVENUE NE,38.912403,-76.969890,293238,active,POINT(-76.971923 38.91263),24th & R St NE / National Arboretum,0.110420,421,...,0,2020-06-29 10:54:10,1,1,"[KEY, CREDITCARD]",38.912630,-76.971923,19,42,classic
148,The Wilderness Society - Ansel Adams Collection,1615 M STREET NW,38.905854,-77.037353,301103,active,POINT(-77.034674 38.905424),15th & M St NW,0.147131,483,...,0,2020-06-29 10:54:10,1,1,"[KEY, CREDITCARD]",38.905424,-77.034674,19,42,classic
149,U.S. Daughters of 1812 Library and Museum,1463 RHODE ISLAND AVENUE NW,38.908356,-77.034157,240224,active,POINT(-77.034438 38.90985),15th & P St NW,0.104332,23,...,0,2020-06-29 10:54:10,1,1,"[KEY, CREDITCARD]",38.909850,-77.034438,19,42,classic
150,United States Holocaust Memorial Museum,100 RAOUL WALLENBERG PLACE SW,38.886681,-77.032686,293186,active,POINT(-77.032429 38.888553),Jefferson Dr & 14th St SW,0.130089,168,...,0,2020-06-29 10:54:10,1,1,"[KEY, CREDITCARD]",38.888553,-77.032429,23,42,classic

In [77]:
#this is just a reduced version of the above to have a quick look of our data
quick_look = pd.concat([actual_status["MUSEUM"],
                             actual_status["Station_Name"],
                             actual_status["approx_distance_miles"],
                             actual_status["num_bikes_available"],
                             actual_status["num_docks_available"],
                             actual_status["num_ebikes_available"],
                             actual_status["capacity"],
                             actual_status["lat"],
                             actual_status["lon"],
                             actual_status["LATITUDE"],
                             actual_status["LONGITUDE"], 
                             actual_status["last_reported_date"]], axis=1)

In [78]:
quick_look = quick_look.rename(columns={'lat': 'station_lat',
                                         'lon': 'station_lon',
                                         'LATITUDE' : 'museum_lat',
                                         'LONGITUDE': 'museum_lon'})

In [79]:
quick_look.head()

,MUSEUM,Station_Name,approx_distance_miles,num_bikes_available,num_docks_available,num_ebikes_available,capacity,station_lat,station_lon,museum_lat,museum_lon,last_reported_date
0,African American Civil War Memorial Museum,7th & T St NW,0.182007,6,7,0,15,38.915500,-77.022200,38.916436,-77.025364,2020-06-29 10:54:10
1,African American Civil War Memorial Museum,12th & U St NW,0.151180,22,9,0,31,38.916787,-77.028139,38.916436,-77.025364,2020-06-29 10:54:10
2,African American Civil War Memorial Museum,10th & U St NW,0.060152,0,15,0,15,38.917200,-77.025900,38.916436,-77.025364,2020-06-29 10:54:10
3,America's Islamic Heritage Museum,Pleasant St & MLK Ave SE,0.109209,11,0,0,11,38.863897,-76.990037,38.863240,-76.991883,2020-06-29 10:54:10
4,America's Islamic Heritage Museum,Anacostia Metro,0.153368,9,2,0,11,38.862669,-76.994637,38.863240,-76.991883,2020-06-29 10:54:10

In [80]:
quick_look.to_csv("Museum_Stat_complete_info.csv")