In [1]:
import jupman

In [2]:
import pandas as pd
from haversine import haversine, Unit

In [3]:
museums = pd.read_csv("Museums_in_DC.csv", sep = ";", index_col= 0)

In [4]:
museums.columns = ['NAME', 'ALT_NAME', 'LABEL', 'MATCHADDRESS', 'XCOORD','YCOORD', 'LONGITUDE', 'LATITUDE', 'ID']

In [5]:
museums["MATCHADDRESS"].fillna("No Address", inplace = True)

In [6]:
museum_lat = museums["LATITUDE"]

In [7]:
museum_long = museums["LONGITUDE"]

In [8]:
bikes = pd.read_csv("results-20200501-204147.csv")

In [9]:
bikes_loc = bikes[['lat','lon', 'name', 'station_id']]
bikes_loc =bikes_loc.set_index([pd.Index(range(1, bikes_loc.shape[0]+1))])

In [10]:
museum_tup=[]
for i in range(1, museums.shape[0]+1):
    museum_coord = (museums["LONGITUDE"][i] , museums["LATITUDE"][i])
    museum_tup.append(museum_coord)

In [11]:
bikes_tup=[]
for i in range(1, bikes_loc.shape[0]+1):
    bikes_coord = (bikes_loc["lon"][i] , bikes_loc["lat"][i])
    bikes_tup.append(bikes_coord)

In [12]:
minimum= []
for mus in museum_tup:
    current=None
    for bik in bikes_tup:
        hav = haversine(mus, bik)
        if current == None or hav < current: 
            current = hav
            top_stat = bik
    minimum.append(top_stat)

In [13]:
distances_meters=[]
for i in range(len(minimum)):
    dist = round(haversine(minimum[i], museum_tup[i], unit=Unit.METERS), ndigits=1)
    distances_meters.append(dist)

In [14]:
distances_miles=[]
for i in range(len(minimum)):
    dist = round(haversine(minimum[i], museum_tup[i], unit=Unit.MILES), ndigits=3)
    distances_miles.append(dist)

In [15]:
museum = museums["NAME"]

In [16]:
df = pd.DataFrame(museum)

In [17]:
df["Museum_Longitude"] = museum_long

In [18]:
df["Museum_Latitude"] = museum_lat

In [21]:
df["Station_Longitude"] = bikes["lon"]

In [22]:
df["Station_Latitude"] = bikes["lat"]

In [23]:
df["Distance_Meters"] = distances_meters

In [24]:
df["Distance_Miles"] = distances_miles

In [25]:
df.head()

,NAME,Museum_Longitude,Museum_Latitude,Station_Longitude,Station_Latitude,Distance_Meters,Distance_Miles
OBJECTID,,,,,,,
1,EXHIBITION HALL AT THE U.S. CAPITOL VISITOR CE...,-77.009036,38.889794,-77.039511,38.865029,213.4,0.133
2,THE WILDERNESS SOCIETY - ANSEL ADAMS COLLECTION,-77.037353,38.905854,-77.038325,38.888097,125.5,0.078
3,SPAGNUOLO ART GALLERY,-77.070115,38.906311,-77.051514,38.848466,174.6,0.108
4,NATIONAL ZOOLOGICAL PARK,-77.054429,38.930611,-77.080950,38.890540,130.4,0.081
5,UNITED STATES BOTANIC GARDEN,-77.012901,38.888248,-77.227417,38.923083,101.6,0.063

In [26]:
df.to_csv('Museum_stations_distance.csv')