In [1]:
import jupman

In [2]:
import pandas as pd
from haversine import haversine, Unit

In [3]:
museums = pd.read_csv("Museums_in_DC.csv", sep = ";", index_col= 0)

In [4]:
museums.columns = ['NAME', 'ALT_NAME', 'LABEL', 'MATCHADDRESS', 'XCOORD','YCOORD', 'LONGITUDE', 'LATITUDE', 'ID']

In [5]:
museums["MATCHADDRESS"].fillna("No Address", inplace = True)

In [7]:
museum_lat = museums["LATITUDE"]

In [8]:
museum_long = museums["LONGITUDE"]

In [9]:
bikes = pd.read_csv("results-20200501-204147.csv")

In [10]:
bikes_loc = bikes[['lat','lon', 'name', 'station_id']]
bikes_loc =bikes_loc.set_index([pd.Index(range(1, bikes_loc.shape[0]+1))])

In [26]:
museum_tup=[]
for i in range(1, museums.shape[0]+1):
    museum_coord = (museums["LONGITUDE"][i] , museums["LATITUDE"][i])
    museum_tup.append(museum_coord)

In [27]:
bikes_tup=[]
for i in range(1, bikes_loc.shape[0]+1):
    bikes_coord = (bikes_loc["lon"][i] , bikes_loc["lat"][i])
    bikes_tup.append(bikes_coord)

In [28]:
minimum= []
for mus in museum_tup:
    current=None
    for bik in bikes_tup:
        hav = haversine(mus, bik)
        if current == None or hav < current: 
            current = hav
            top_stat = bik
    minimum.append(top_stat)

In [29]:
distances_meters=[]
for i in range(len(minimum)):
    dist = round(haversine(minimum[i], museum_tup[i], unit=Unit.METERS), ndigits=1)
    distances_meters.append(dist)

In [30]:
distances_miles=[]
for i in range(len(minimum)):
    dist = round(haversine(minimum[i], museum_tup[i], unit=Unit.MILES), ndigits=3)
    distances_miles.append(dist)

In [31]:
museum = museums["NAME"]

In [32]:
df = pd.DataFrame(museum)

In [33]:
df["Museum_Longitude"] = museum_long

In [34]:
df["Museum_Latitude"] = museum_lat

In [35]:
df["Station_Location"] = minimum

In [36]:
df["Distance_Meters"] = distances_meters

In [37]:
df["Distance_Miles"] = distances_miles

In [38]:
df.head()

,NAME,Museum_Longitude,Museum_Latitude,Station_Location,Distance_Meters,Distance_Miles
OBJECTID,,,,,,
1,EXHIBITION HALL AT THE U.S. CAPITOL VISITOR CE...,-77.009036,38.889794,"(-77.009888, 38.897446)",213.4,0.133
2,THE WILDERNESS SOCIETY - ANSEL ADAMS COLLECTION,-77.037353,38.905854,"(-77.038359, 38.908142)",125.5,0.078
3,SPAGNUOLO ART GALLERY,-77.070115,38.906311,"(-77.071652, 38.907740000000004)",174.6,0.108
4,NATIONAL ZOOLOGICAL PARK,-77.054429,38.930611,"(-77.055599, 38.930282)",130.4,0.081
5,UNITED STATES BOTANIC GARDEN,-77.012901,38.888248,"(-77.013769, 38.886978000000006)",101.6,0.063

In [24]:
df.head()

,NAME,Museum_Longitude,Museum_Latitude,Station_Location,Distance_Meters,Distance_Miles
OBJECTID,,,,,,
1,EXHIBITION HALL AT THE U.S. CAPITOL VISITOR CE...,-77.009036,38.889794,"(-77.009888, 38.897446)",213.4,0.133
2,THE WILDERNESS SOCIETY - ANSEL ADAMS COLLECTION,-77.037353,38.905854,"(-77.038359, 38.908142)",125.5,0.078
3,SPAGNUOLO ART GALLERY,-77.070115,38.906311,"(-77.071652, 38.907740000000004)",174.6,0.108
4,NATIONAL ZOOLOGICAL PARK,-77.054429,38.930611,"(-77.055599, 38.930282)",130.4,0.081
5,UNITED STATES BOTANIC GARDEN,-77.012901,38.888248,"(-77.013769, 38.886978000000006)",101.6,0.063

In [25]:
df.to_csv('Museum_stations_distance.csv')